.recommend-page {
  height: 100%;
  font-size: 12px;
  padding: 15px;
  position: relative;
  .recommend-title {
    font-size: 14px;
    font-weight: 600;
    margin: 15px 0;
  }
  .recommend-banner {
    width: 100%;
    overflow: hidden;
  }
  .recommend-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .recommend-list-item {
    width: calc(33.3% - 6.7px);
  }
  .isThree {
    margin-right: 10px;
  }
}
